<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DQBaseContext" connectionString="metadata=res://*/DQBaseModel.csdl|res://*/DQBaseModel.ssdl|res://*/DQBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQL2008R2;Initial Catalog=DQBase;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>