<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DQBaseContext" connectionString="metadata=res://*/DQBaseModel.csdl|res://*/DQBaseModel.ssdl|res://*/DQBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQL2008R2;initial catalog=DQBase;user id=sa;password=123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>